body {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(7, 105px);
    grid-template-rows: repeat(6, 105px);
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    background-color: black;
}

.circle {
    border: 5px solid black;
    background-color: white;
    border-radius: 50%;
    outline: 5px black;
}

.reset {
    text-align: center;
    border: 1.5px solid black;
}
    
.wording {
    width: 100%;
}

@media only screen and (min-width: 820px ) {
    .game-board {
        display: block;
        width: 100%;
       padding-bottom: 25px;
    }
   
}

@media only screen and (min-width: 768px ) {
    .game-board {
        display: block;
        width: 100%;
       padding-bottom: 25px;
    }
   
}

@media only screen and (min-width: 768px ) {
    .game-board {
        display: block;
        width: 100%;
       padding-bottom: 25px;
    }
   
}

@media only screen and (min-width: 768px ) {
    .game-board {
        display: block;
        width: 100%;
       padding-bottom: 25px;
    }
   
}

@media only screen and (min-width: 375px ) {
    .game-board {
        display: block;
        width: 100%;
       padding-bottom: 25px;
       padding-right: 3px;
    }
   
}

@media only screen and (min-width: 390px ) {
    .game-board {
        display: block;
        width: 100%;
       padding-bottom: 25px;
       padding-right: 3px;
    }
   
}