body {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: url("/assets/img/eiffel-tower.png");
    overflow: hidden;
    background-size: cover;
    background-position: center center;`
}

.game-board {
    display: grid;
    grid-template-columns: repeat(7, 105px);
    grid-template-rows: repeat(6, 105px);
    margin: 65px auto;
    justify-content: center;
    background-color: transparent;
    /* max-width: 500px; */
    max-height: 100vh;
}

.circle {
    border: 5px solid black;
    background-color: white;
    border-radius: 50%;
    outline: 5px black;
}

#reset {
    text-align: center;
    border: 1.5px solid black;
    width: 130px;
    height: 50px;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 55px;
    font-size: large;
    background-color: #B2BEB5;
    margin-top: 1.5%;
}
    
.wording {
   color: white;
   font-size: x-large;
   font-weight: 100px;
   margin-top: 3%;
}

#message {
    margin-top: 3%;
    color: yellow;
}

#reset {
    background-color: ;
}




/* @media only screen and (min-width: 820px ) {
    .game-board, .circle {
        width: 100%;
       padding-right: 40px;
       margin: 0 auto; 
    }
   
}

@media only screen and (min-width: 768px ) {
    .game-board, .circle  {
        width: 100%;
       padding-right: 50px;
       margin: 0 auto; 
    }
   
}

@media only screen and (min-width: 768px ) {
    .game-board, .circle  {
        width: 100%;
       padding-right: 50px;
       margin: 0 auto; 
    }
   
}

@media only screen and (min-width: 768px ) {
    .game-board, .circle  {
        width: 100%;
        padding-right: 50px;
        margin: 0 auto; 
    }
   
}

@media only screen and (min-width: 375px ) {
    .game-board, .circle  {
        width: 100%;
        padding-right: 50px;
        margin: 0 auto; 
    }
   
}

@media only screen and (min-width: 390px ) {
    .game-board, .circle  {
        width: 100%;
        padding-right: 50px;
        margin: 0 auto; 
    }
} */

