body {
    display: flex;
    flex-direction: column;
    text-align: center;
}


.game-board {
    display: grid;
    grid-template-columns: repeat(7, 105px);
    grid-template-rows: repeat(6, 105px);
    width: 500;
    height: 400;
    margin: 0 auto;
    justify-content: center;
    background-color: black;
}

.circle {
    border: 5px solid black;
    background-color: white;
    border-radius: 50%;
    outline: 5px black;
}